.img-logo {
  height: 2em;
  vertical-align: middle;
}

.nav-list {
  display: inline-block;
  margin: 0 1em;
}

.nav-item {
  &:focus{
    border-bottom: solid 1px grey;
    background-color: rgba(0,0,0,0.2);
    outline: none;
  }
  display: inline;
  padding: 0.5em;
}

.nav-container {
  display: flex;
  align-items: center;
}
